<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Explore, craft, and fight your way past cute horrors to discover the secrets of The Empty King in the zany world of ItsyRealm." />
		<title>{% block title %}ItsyRealm{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{ url_for('static', filename='style/reset.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Laila:500,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<header>
			<div id="itsyrealm-logo" />
		</header>
		<main>
			{% block content %}
			{% endblock %}
			<footer>
				<p>
					Copyright &copy; <a href="mailto:squeak@erinmaus.com">Erin Maus</a>
				</p>
				<p>
					Looking for a <a href="/presskit">press kit</a>?
				</p>
			</footer>
		</main>
	</body>
</html>
