<!doctype html>
<html>
	<head>
		<title>{% block title %}ItsyRealm{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{ url_for('static', filename='style/reset.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Laila:500,700" rel="stylesheet">
		<link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<main>
			<a href="/"><div id="logo"></div></a>
			<div id="content">
				{% block content %}
				{% endblock %}
				<footer>
					<p>Copyright &copy; <a href="http://aaronbolyard.com">Aaron Bolyard</a> - <a href="https://github.com/aaronbolyard/itsyscape">GitHub</a></p>
				</footer>
			</div>
		</main>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
