{% extends 'home/base.html' %}
{% block content %}
	<div class="download-button">
		<a href="{{ url_for('home.download') }}">Download!</a>
		<span class="download-button-version">{{ latest_version }}</span>
	</div>
	<h1>Welcome to ItsyRealm!</h1>
	<div class="slideshow">
		<a href="#/" id="ir-slideshow-prev-button" class="slideshow-button-left"></a>
		<div id="ir-slideshow-image" class="slideshow-image"></div>
		<a href="#/" id="ir-slideshow-next-button" class="slideshow-button-right"></a>
	</div>
	<p>
		In ItsyRealm, you're on an awesome quest to discover the secrets of a necromancer god only known as the Empty King! Along your way, you'll...
	</p>
	<div class="feature">
		<img class="left" alt="Three scary monsters." src="{{ url_for('static', filename='images/creeps.png') }}" width="320px" height="192px">
		<p class="left">
			Have to think on your feet using staff, sword, and bow to fight mythical monsters and eldritch abominations...
		</p>
	</div>
	<div class="feature">
		<img class="right" alt="Three heroes wearing cool equipment." src="{{ url_for('static', filename='images/equipment.png') }}" width="320px" height="192px">
		<p class="right">
			Use 21 skills and counting to gather and craft powerful equipment from dangerous dungeons, teeming forests, ancient ruins, the open sea, and more...
		</p>
	</div>
	<div class="feature">
		<img class="left" alt="Three adventurers needing help." src="{{ url_for('static', filename='images/heroes.png') }}" width="320px" height="192px">
		<p class="left">
			Help a bunch of like-minded adventurers achieve their own victories...
		</p>
	</div>
	<div class="tagline">
		<p>
			And should you fail, the world will succumb to the ruin of the Old Ones.
		</p>
	</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
{% endblock %}
