{% extends 'home/base.html' %}
{% block content %}
	<div id="call-to-action">
		<p>Fight, explore, craft, and quest your way through this single-player cutesy RPG.</p>
		<div class="gif">
			<img src="{{ url_for('static', filename='images/gif.gif') }}" width="320" height="320" alt="ItsyRealm cute GIF">
		</div>
		<div class="hook">
			<ul>
				<li><a href="https://facebook.com/ItsyRealm" class="fab fa-facebook"></a></li>
				<li><a href="https://twitter.com/ItsyRealm" class="fab fa-twitter"></a></li>
				<li><a href="https://www.instagram.com/itsyrealm/" class="fab fa-instagram"></a></li>
				<li><a href="https://discord.gg/xUSkF9n" class="fab fa-discord"></a></li>
				<li><a href="https://github.com/erinmaus/itsyscape" class="fab fa-github"></a></li>
				<li><a href="https://store.steampowered.com/app/1662510" class="fab fa-steam"></a></li>
			</ul>
			<a href="{{ url_for('home.play') }}" class="button">Play Now!</a>
		</div>
	</div>
	<div class="feature">
		<p>In ItsyRealm, you're on an awesome quest to discover the secrets of a necromancer god only known as the Empty King.</p>
	</div>
	<div class="feature">
		<img src="{{ url_for('static', filename='images/creeps.png') }}" width="320" height="192" alt="ItsyRealm enemies">
		<p>Along your way, you'll have to think on your feet using staff, sword, and bow to fight mythical monsters and eldritch abominations!</p>
	</div>
	<div class="feature">
		<img src="{{ url_for('static', filename='images/equipment.png') }}" width="320" height="192" alt="ItsyRealm equipment">
		<p>Use 21 skills to gather and craft powerful equipment from dangerous dungeons, teeming forests, ancient ruins, the open sea, and more!</p>
	</div>
	<div class="feature">
		<img src="{{ url_for('static', filename='images/heroes.png') }}" width="320" height="224" alt="ItsyRealm heroes">
		<p>And help a bunch of like-minded adventurers achieve their own victories!</p>
	</div>
	<div class="feature">
		<p>Should you fail, the four Old Ones will succeed to tear the very fabric of reality apart...</p>
	</div>
{% endblock %}
