{% extends 'home/base.html' %}
{% block content %}
	<div id="presskit">
		<ol>
			<li><a href="#factsheet">Factsheet</a></li>
			<li><a href="#elevator">Elevator Pitch</a></li>
			<li><a href="#description">Description</a></li>
			<li><a href="#history">History</a></li>
			<li><a href="#videos">Videos</a></li>
			<li><a href="#screenies">Screenies</a></li>
			<li><a href="#logos">Logos</a></li>
			<li><a href="#links">Links</a></li>
			<li>
				<div class="factsheet">
					<h2>Factsheet</h2>
					<div class="fact">
						<h3>Developer</h3>
						<a href="mailto:squeak@erinmaus.com">Erin Maus</a> (they/she)
					</div>
					<div class="fact">
						<h3>Release Date</h3>
						<p>TBD</p>
					</div>
					<div class="fact">
						<h3>Platforms</h3>
						<ol>
							<li><a href="https://store.steampowered.com/app/1662510">Steam</a></li>
						</ol>
					</div>
					<div class="fact">
						<h3>Website</h3>
						<a href="https://itsyrealm.com">https://itsyrealm.com</a>
					</div>
					<div class="fact">
						<h3>Regular Price</h3>
						USD $14.99
					</div>
				</div>
			</li>
		</ol>
		<div class="presskit-content">
			<h2 id="elevator">Elevator Pitch</h2>
			<p>ItsyRealm plays like a single-player MMORPG with a cutesy, old-school aesthetic. Grindy, unrewarding gameplay loops are replaced with quick progression without compromising the old school feel. The world is filled with a diverse cast -- including a ton of minority characters and customization options.</p>
			<h2 id="description">Description</h2>
			<p>In ItsyRealm, you're on an awesome quest to discover the secrets of a necromancer god only known as the Empty King.</p>
			<ol>
				<li>Along your way, you'll have to think on your feet using staff, sword, and bow to fight mythical monsters and eldritch abominations!</li>
				<li>Use 21 skills to gather and craft powerful equipment from dangerous dungeons, teeming forests, ancient ruins, the open sea, and more!</li>
				<li>And help a bunch of like-minded adventurers achieve their own victories!</li>
			</ol>
			<p>Should you fail, the four Old Ones will succeed to tear the very fabric of reality apart...</p>
			<h2 id="history">History</h2>
			<p>In late March of 2018, Erin began development of an open-source tycoon-styled game inspired by a mash-up of RuneScape and RollerCoaster Tycoon. Soon, the game morphed into its own thing. In October of 2021, ItsyRealm found its way on Steam and is in Early Access.</p>
			<h2 id="videos">Videos</h2>
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9LagoVXWNS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h2 id="screenies">Screenies</h2>
			<a href="{{ url_for('static', filename='images/screenshot1.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot1.jpg') }}" alt="screenshot"></a>
			<a href="{{ url_for('static', filename='images/screenshot2.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot2.jpg') }}" alt="screenshot"></a>
			<a href="{{ url_for('static', filename='images/screenshot3.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot3.jpg') }}" alt="screenshot"></a>
			<a href="{{ url_for('static', filename='images/screenshot4.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot4.jpg') }}" alt="screenshot"></a>
			<a href="{{ url_for('static', filename='images/screenshot5.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot5.jpg') }}" alt="screenshot"></a>
			<a href="{{ url_for('static', filename='images/screenshot6.jpg') }}"><img src="{{ url_for('static', filename='images/screenshot6.jpg') }}" alt="screenshot"></a>
			<h2 id="logos">Logos</h2>
			<a href="{{ url_for('static', filename='images/logo.png') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="screenshot"></a>
			<h2 id="links">Links</h2>
			<ol>
				<li>Github: <a href="https://github.com/erinmaus/itsyscape">https://github.com/erinmaus/itsyscape</a></li>
				<li>Twitter: <a href="https://twitter.com/itsyrealm">https://twitter.com/itsyrealm</a> / <a href="https://twitter.com/bkdoormaus">https://twitter.com/bkdoormaus</a></li>
				<li>Facebook: <a href="https://facebook.com/ItsyRealm">https://facebook.com/ItsyRealm</a></li>
				<li>Instagram: <a href="https://www.instagram.com/itsyrealm/">https://www.instagram.com/itsyrealm/</a></li>
				<li>Discord: <a href="https://github.com/erinmaus/itsyscape">https://github.com/erinmaus/itsyscape</a></li>
			</ol>
		</div>
	</div>
{% endblock %}
