body {
	font-family: 'Laila', serif;
	font-size: 24px;
	line-height: 1.5;

	width: 100%;
	height: 100%;
	min-height: 100vh;

	color: #eeeeee;
	text-shadow: 1px 1px #000000;

	background: url("/static/images/background1.png") repeat;
}

a, a:active, a:visited, a:hover {
	font-size: 48px;
	color: #ac5fd3;

	text-decoration: none;
}

a:active, a:hover {
	color: #e1c5ef;
}

header {
	display: flex;
	justify-content: center;
	align-content: center;

	width:  100%;
	height: 16rem;

	background: url("/static/images/background1-dark.png") repeat;
}

#itsyrealm-logo {
	width: 90%;
	height: calc(100% - 8rem);

	background: url("/static/images/logo.png") no-repeat center;
	background-size: contain;
}

main {
	margin: -8rem auto 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	max-width: 1000px;
	border-image: url("/static/images/border1.png") 32 24 fill / 32px 24px repeat;
}

main p {
	text-align: justify;
	hyphens: auto;
}

main .feature {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 2rem;
}

main .feature:last-of-type {
	margin-bottom: 0rem;
}

#call-to-action {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;

	justify-content: space-around;
	justify-items: center;
	align-items: center;

	margin-bottom: 2rem;
}

#call-to-action p {
	text-align: center;
	font-weight: bolder;
	margin-bottom: 2rem;
	flex-basis: 100%;
}

#call-to-action .button {
	border: none;
	outline: none;

	width: 320px;
	height: 96px;

	font-family: inherit;
	font-size: 3.5rem;

	text-align: center;
	line-height: 96px;

	color: #eeeeee;
	text-shadow: 1px 1px #000000;

	background: none;
	border-image: url("/static/images/border3.png") 24 24 fill / 24px 24px repeat;
}

#call-to-action .button::before {
	visibility: hidden;
	position: absolute;
	content: url("/static/images/border3.png") url("/static/images/border3-hover.png") url("/static/images/border3-active.png");
}

#call-to-action .button:hover {
	color: #ffffff;
	text-shadow: 1px 1px #000000;

	border-image: url("/static/images/border3-hover.png") 24 24 fill / 24px 24px repeat;
}

#call-to-action .button:active {
	color: #dddddd;
	border-image: url("/static/images/border3-active.png") 24 24 fill / 24px 24px repeat;
}

#call-to-action .hook {
	display: flex;
	flex-flow: column;
	justify-items: space-between;
}

#call-to-action .hook ul {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

#call-to-action .hook ul li {
	display: inline;
}

footer p {
	text-align: right;
}

main .gif img {
	width: 320px;
	height: 214px;
	border-radius: 8px;
}

main .gif {
	width: 320px;
	height: 214px;
	position: relative;
	margin-bottom: 2rem;
}

main .gif::after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	content: '';

	border-image: url("/static/images/border2.png") 8 8 fill / 8px 8px repeat;
	border-radius: 6px;
}

@media(min-width: 600px) {
	main {
		padding:  2rem;
	}

	main .feature {
		flex-flow: row;
	}

	main .feature:nth-child(odd) {
		flex-flow: row-reverse;
	}

	main .feature img {
		width: 320px;
		height: auto;
	}

	#call-to-action p {
		font-size: 32px;
	}

	#call-to-action .hook a {
		font-size: 48px;
	}

	main .gif img {
		width: 480px;
		height: 320px;
		border-radius: 8px;
	}

	main .gif {
		width: 480px;
		height: 320px;
		position: relative;
		margin-bottom: 2rem;
	}
}

@media(min-width: 800px) {
	#call-to-action {
		flex-flow: row;
		flex-wrap: wrap;
	}

	main .feature img {
		width: 480px;
		height: auto;
	}

	body {
		font-size: 32px;
	}

	header {
		height: 24rem;
	}

	header #itsyrealm-logo {
		height:  calc(100% - 10rem);
	}
}

