body {
	font-family: 'Laila', serif;
	font-size: 24px;
	line-height: 1.25;

	background: fixed url("/static/images/background.png") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@media (min-width: 700px) {
	body {
		font-size: 2.5vw;
	}
}

main {
	width: 90vw;
	min-width: 375px;

	margin: 0 auto;
}

@media (min-width: 600px) {
	body {
		font-size: 2.5vw;
	}
}

a, a:active, a:visited, a:hover {
	color: #bc5fd3;

	text-decoration: none;
}

a:active, a:hover {
	text-shadow: 4px 4px 5px #ffcc00;
}

li {
	margin-left: 2em;
	color: ;
	list-style-type: disc;
}

b {
	font-weight: bold;
}

#logo {
	display: block;

	width: 90vw;
	min-width: 90vw !important;
	max-width: 1000px;
	height: 33.75vw;
	max-height: 33.75vw;
	max-height: 375px;

	margin: 16px auto;

	background: url("/static/images/logo.png") no-repeat center;
	background-size: contain;
}

#content {
	position: relative;

	margin-bottom: 2em;

	padding: 8px;

	padding-bottom: 30vw;

	min-height: 600px !important;

	border: 4px solid black;

	background-color: rgba(238, 236, 184, 0.8);
}

@media(min-width: 600px) {
	#content {
		padding-left: 128px;
		padding-top: 96px;

		background: url("/static/images/border-topLeft.png") top left no-repeat;
		background-color: rgba(238, 236, 184, 0.8);
	}

	#content:after {
		pointer-events: none;
		content: "";
		position: absolute;
		top: 320px;
		bottom: 0;
		left: 0;
		right: 0;
		background: url("/static/images/border-left.png") repeat-y;
	}
}

h1 {
	font-size: 2em;
	font-weight: bold;

	margin-bottom: 1em
}

p {
	margin-bottom: 1em;
	margin-right: 1em;
}

@media (max-width: 850px) {
	.slideshow {
		display: none;
	}
}

.slideshow {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	vertical-align: middle;
}

.slideshow-image {
	display: inline-block;;

	width: calc(480px - 96px);
	height: calc(270px - 96px);

	margin: 0 auto;
}

.slideshow-image-full {
	position: fixed;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.9);

	z-index: 1000;
}

.slide-image-full-content {
	position: relative;
}

.slideshow-image-full-image {
	position: fixed;

	top: 5vh;
	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;

	width: auto;
	height: 80vh;

	z-index: 1000;
}

.slideshow-image-full-image img {
	margin-left: 5vw;

	width: 90vw;
	height: auto;
}

.slideshow-image-full-title {
	position: relative;
	display: block;

	margin-left: 2.5vw;
	margin-top: 2.5vh;

	margin-top: -5vh;
	color: white;

	font-size: 5vh;
	font-weight: bold;

	z-index: 2000;
}

.slideshow-image-full-description {
	position: fixed;

	left: 2.5vw;
	bottom: 5vh;

	color: white;
	text-shadow: 2px 2px 8px black;

	font-size: 2.5vh;
	font-weight: normal;

	z-index: 2000;
}

.download-button {
	position: absolute;
	display: block;

	top: -64px;
	right: 32px;

	padding-top: 32px;

	color: white;

	font-size: 24px;
	text-align: center;

	width: 348px;
	min-width: 348px !important;
	height: 100px;
	min-height: 100px !important;

	background: url("/static/images/button.png") 0px 0px;
}

.download-button-version {
	position: absolute;
	bottom: 16px;
	left: 32px;

	font-weight: bold;

	font-size: 0.75em;
}

@media (max-width: 850px) {
	.download-button {
		display: block;
		position: initial;
		margin: auto;
	}

	.download-button-version {
		position: block;
		position: initial;
		margin: auto;
	}
}

.download-button:hover {
	background: url("/static/images/button.png") 0px -132px;
}

.download-button:active {
	background: url("/static/images/button.png") 0px -264px;
}

.download-button a,
.download-button a:visited,
.download-button a:hover,
.download-button a:active {
	font-size: 2em;
	font-weight: bolder;
	color: white;
	text-decoration: none;
	text-shadow: none;
	margin: auto auto;
}

.slideshow-button-left {
	display: inline-block;

	margin: 16px 0;

	width: 128px;
	min-width: 128px !important;
	height: 128px;
	min-height: 128px !important;

	background: url("/static/images/slideshowButtons.png") 0px 0px;
}

.slideshow-button-left:hover {
	background: url("/static/images/slideshowButtons.png") 0px -132px;
}

.slideshow-button-left:active {
	background: url("/static/images/slideshowButtons.png") 0px -264px;
}

.slideshow-button-right {
	display: inline-block;

	margin: 16px 0;

	width: 128px;
	min-width: 128px !important;
	height: 128px;
	min-height: 128px !important;

	background: url("/static/images/slideshowButtons.png") 128px 0px;
}

.slideshow-button-right:hover {
	background: url("/static/images/slideshowButtons.png") 128px -132px;
}

.slideshow-button-right:active {
	background: url("/static/images/slideshowButtons.png") 128px -264px;
}

.left {
	display: inline;
	float: left;
}

.right {
	display: inline;
	float: right;
}

@media (max-width: 599px) {
	.left {
		float: none;
	}

	.right {
		float: none;
	}
}

.feature {
	overflow: auto;
	margin: 1em 0;
	text-align: justify;
}

@media (max-width: 599px) {
	.feature {
		overflow: initial;
	}
}

.feature img {
	width: 30vw;
	height: 18vw;
	margin: auto;
}

.feature p {
	width: calc(40vw - 64px);
}

@media (max-width: 599px)
{
	.feature img {
		clear: both;
		display: block;
		width: 320px;
		height: 192px;
		margin: auto;
	}

	.feature p {
		width: 80%;
		margin: auto;
	}
}

.tagline {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;

	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 128px);
}

footer p {
	font-size: 32px;
	margin: 16px;
	display: inline-block;
}

footer ul {
	width: 270px;
	display: inline-block;
}

footer ul li {
	display: block;
	float: left;

	margin: 8px;
	width: 32px;
	height: 32px;
	font-size: 32px;
}

@media (max-width: 599px) {
	footer {
		width: 100%;
	}
}

@media (max-width: 800px) {
	footer p {
		width: calc(100% - 32px);
		text-align: center;
	}

	footer ul {
		display: block;
		margin: auto;
	}
}

@media (max-width: 800px) {
	footer p {
		font-size: 24px;
		width: calc(100% - 32px);
		text-align: center;
	}
}

